In [64]:
import pandas as pd
import sklearn as sk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sam\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv("project_1_Wiki_sample.csv")
df.head()

,content,title,id
0,Morocco–Saudi Arabia relations\r\n\r\nMoroccan...,Morocco–Saudi Arabia relations,1
1,Anthony United States Post Office\r\n\r\nThe A...,Anthony United States Post Office,2
2,Dumraon (Vidhan Sabha constituency)\r\n\r\nDum...,Dumraon Vidhan Sabha constituency,3
3,Chaker Khazaal\r\n\r\nChaker Khazaal (born 28 ...,Chaker Khazaal,4
4,Vicente Pascual Pastor\r\n\r\nVicente Pascual ...,Vicente Pascual Pastor,5

In [3]:
df['content'][3]

'Chaker Khazaal\r\n\r\nChaker Khazaal (born 28 September 1987 in Beirut, Lebanon) is a Palestinian-Canadian author and reporter born to Palestinian filmmaker Mahmoud Khazaal and socio-political activist mother Olfat Mahmoud. Khazaal grew up in Bourj el-Barajneh refugee camp near Beirut and at a young age, participated in several local plays and starred in the Palestinian film "Sugar of Jaffa". He is a third generation Palestinian refugee. He later immigrated to Canada and studied at York University as a 2005 recipient of the Global Leader of Tomorrow Award. He graduated in 2009 from York University with a B.A. in International Development Studies.\r\n\r\nKhazaal was named number one in the 100 Most Influential Arabs Under 40 by "Arabian Business" Magazine. \r\n\r\n"Confessions of a War Child" is a thriller romantic trilogy of fiction written by Khazaal inspired by true stories of war children around the world. The first part was published in 2013, under the main title followed by the second installment, subtitled "Lia" in 2014 and third part of the trilogy subtitled "Sahara" in 2015. In 2017, he published the novel "Tale of Tara" about the story of a Palestinian refugee from a camp in Lebanon to human traffickers in Europe where she becomes a prostitute and her meeting a bestselling New York writer and the intriguing relation between the two.\r\n\r\nChaker writes in the "Huffington Post" about various topics, mainly related to the Middle East and refugees. and speaks about refugee issues on mainstream media. He dedicated his "Esquire" Man of the Year Award to Aylan Kurdi, the Syrian refugee child who was found dead on a beach in Turkey. Khazaal founded a program that offers refugees and migrants contractual remote employment in e-marketing, graphics, social media management and web development. In December 2016, New York based NGO Bridges of Understanding awarded Khazaal the Global Trailblazer alongside Arianna Huffington. He served as the the Editor in Chief of StepFeed and YallaFeed online news site in 2017.'

In [4]:
df = df.head()

In [115]:
def GenerateSnippet(query, content):
    """Based on a query and a dataframe of relevant documents, returns a dictionary with two most relevant sentences based on cosine similarity"""

    vectorizer = TfidfVectorizer()
    
    #Chops the content column up into neat little sentences
    content = nltk.tokenize.sent_tokenize(content)
    content = [x.replace('\n','') for x in content]
    content = [x.replace('\r',' ') for x in content]

    snippet = {}
    #last resort ineffecient for loop incoming:
    sentence1 =" "
    sentence2 =" "
    score1 = 0
    score2 = 0
    for sentence in content:
        documents = [query,sentence]
        sparse_matrix = vectorizer.fit_transform(documents)
        score = cosine_similarity(sparse_matrix)[0,1]
        #Compares the cosine score to the previous high. If higher, replace it.
        if score > score1:
            sentence1 = sentence
            score1 = score
        elif score > score2:
            sentence2 = sentence
            score2 = score
        snippet['sentence1'] = sentence1
        snippet['sentence2'] = sentence2
    
    return snippet

In [114]:
testdf = GenerateSnippet("fried chicken",df['content'][767511-1])
testdf

,title,sentence1,sentence2
0,Morocco–Saudi Arabia relations,Saudi Arabia has recently supported Morocco ov...,"Saudi Arabia, on the other side, also helps fu..."
1,Anthony United States Post Office,"It was deemed significant ""for its historical ...","The mural, ""Turning a Corner"", was painted by ..."
2,Dumraon Vidhan Sabha constituency,,
3,Chaker Khazaal,"The first part was published in 2013, under th...","In 2017, he published the novel ""Tale of Tara""..."
4,Vicente Pascual Pastor,The great majority of the projects realized by...,Inside the social and industrial life of the c...

In [110]:
#You can ignore this, this is me testing out the cosine similarity methoed.

vectorizer = TfidfVectorizer()
query = "historical saudi grabage arabia"
sentence = testdf['content'][0][0]
documents = [query,sentence]

sparse_matrix = vectorizer.fit_transform(documents)
sparse_matrix = [(0.5, 0.8, 0.3),(1.5, 1.0, 0)]

#response1 = vectorizer.fit_transform([query, df['content'][0]])
#response2 = vectorizer.fit_transform([sentence, df['content'][0]])

print(cosine_similarity(sparse_matrix)[0,1])
print(documents)

KeyError: 'content'