In [21]:
import pandas as pd
import datetime

In [81]:
df = pd.read_csv("project_1_AOL_query_log\Clean-Data-01.txt",sep='\t')
df = df.append(pd.read_csv("project_1_AOL_query_log\Clean-Data-02.txt",sep='\t'))
df = df.append(pd.read_csv("project_1_AOL_query_log\Clean-Data-03.txt",sep='\t'))
df = df.append(pd.read_csv("project_1_AOL_query_log\Clean-Data-04.txt",sep='\t'))
df = df.append(pd.read_csv("project_1_AOL_query_log\Clean-Data-05.txt",sep='\t'))
len(df.index)

3942354

In [82]:
df["Query"] = df["Query"].astype(str)
df["QueryTime"]= pd.to_datetime(df["QueryTime"])
df.dtypes

AnonID                int64
Query                object
QueryTime    datetime64[ns]
dtype: object

In [83]:
def suggest(query):
    """Returns new df with queries that start with the query parameter. Sorted by frequency, excludes exact match."""
    sg = df.loc[df['Query'].str.startswith(query)]
    sg = sg[sg['Query'] != query]
    sg = sg.groupby(['Query']).size().reset_index(name='freq')
    sg = sg.sort_values(by=['freq'],ascending=False)
    return sg

In [85]:
suggest("pizza")

                                   Query  freq
111                            pizza hut   546
121                    pizza hut coupons    18
65                           pizza dough    18
242                            pizza pan    10
49                        pizza delivery    10
..                                   ...   ...
122          pizza hut coupons printable     1
120               pizza hut coupon codes     1
119                  pizza hut corporate     1
118  pizza hut cavatina casserole recipe     1
328                            pizza xxx     1

[329 rows x 2 columns]